build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
raw.db
results.db
python/data/raw/*.hdf5
.editorconfig
.vscode

.venv
*.csv
*.pyc
# Packages
/dist/*
# Unit test / coverage reports
.coverage
.pytest_cache
.idea/*
.python-version
.vscode/*
/docs/site/*
.mypy_cache
/poetry.toml
