build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
raw.db
results.db
python/data/raw/*.hdf5
.editorconfig
.vscode
python/plots

python/data/results/

embedded-c++/*.csv